@media  screen and (max-width: 480px) { 

  header{
    top: 0;
  }


   main>h1{
    font-family:  helvetica, sans-serif;
    font-size: 2em;
     text-align: center;
    color: #000000;
    overflow: hidden;
    padding-top: 2em;
  }

  main>h2 {
        
    font-family:  helvetica, sans-serif;
    font-size: 1.5em;
    text-align: center;
    color: #000000; 
    overflow: hidden;    
  }


}

     

        

	



 