@media  screen and (max-width: 991px) { 



    header{
        top: 0;
    }
    
   
    main>h1{
        font-family:  helvetica, sans-serif;
        font-size: 2em;
         text-align: center;
        color: #000000;
        overflow: hidden;
        padding-top: 2em;
      }
    
      main>h2 {
            
        font-family:  helvetica, sans-serif;
        font-size: 1.5em;
        text-align: center;
        color: #000000; 
        overflow: hidden;    
      }
   

    nav {
        position: absolute;
        top: 0;
        left: 2em;
        width: 100%;
        
        
    }

    #hamburguesa li {
        list-style: none;
        text-indent: -100px;
        overflow: hidden;
        margin-top: .75em;
        width: 2.5em;
        margin-left: -3em;
    }


    #hamburguesa li a {
        background: url("/images/menu.png") no-repeat;
        background-size: cover;
        display: flex;
        height: 2.5em;
    }



    #hamburguesa li:last-child {
        display: none;
    }


    nav:target #barra {
        left: 0;
    }

    nav:target #hamburguesa li:first-child {
        display: none;
    }

    nav:target #hamburguesa li:last-child {
        display: block;
    }


    #barra {
        width: 80vw;
        height: calc(80vh - 4em);
        position: absolute;
        top: 3.5em;
        left: -110%;
        background: #333;
        transition: left .5s ease;
        
    }


    #barra li {
        list-style: none;
        margin: 1.5em;
        width: 75%;
        display: inline-block;
        opacity: 1;
       
    }

    #barra li a {
        text-decoration: none;
        display: block;
        background: rgb(187, 147, 86);
        color: #fff;
        text-align: center;
        line-height: 2em;
    }




}